.controls {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    font-family: sans-serif;
    border: solid 1px white;
}

input[type=number] {
    width: 50px;
    margin-right: 20px;
}

h5 {
    margin: 10px 0 5px 0;
}

h6 {
    margin: 5px 0 5px 0;
}

input {
    margin-bottom: 10px;
}

input[type=button] {
    margin: 10px 0;
}

.preview {
    cursor: pointer;
    margin: 2px;
}

.active_preview {
    cursor: pointer;
    margin: 0px;
    border: 2px solid yellow;
    box-shadow: 0px 2px 5px grey;
}